.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    background-color: #0070f3;
    color: white;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .pagination button:hover {
    background-color: #005bb5;
  }
  
  .pagination button.activePage {
    background-color: #ff4081;
  }
  